body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  background-color: #212529; /* Темный цвет BS5 */
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.active {
  color: #000000;
  background-color: #ffc107; /* Желтый цвет BS5 */
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}
