<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    {% comment %} Оставим HTML коммент {% endcomment %}
    {# Это Django коммент #}
    <!-- Это HTML коммент -->
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <hr>
    <p>{{ string }}</p>
    <p>{{ integer }}</p>
    <p>{{ float }}</p>
    <p>{{ boolean }}</p>
    <p>{{ list }}</p>
    {% comment %} <p>{{ list[0] }}</p> {% endcomment %}
    <p>{{ list.0 }}</p>
    <p>{{ set }}</p>
    <p>{{ dict }}</p>
    <p>{{ dict.name }}</p>
    <p>{{ object }}</p>
    <p>{{ object.name }}</p>
    <p>{{ object.method }}</p>
    <p>{{ object.method_arg "arg" }}</p>
</body>
</html>